@use 'helpers/general' as *;

.HomePage{

    max-width: var(--max-screen-width);
    
    --screen-side-insets: 2.5rem;
    --max-screen-width: 78rem;

    display: grid;
    gap: 5rem;
    grid-template-columns: minmax(0, 1fr);


    @include setProps(padding-left padding-right, var(--screen-side-insets));
    padding-top: var(--nav-bar-height);
    @include setProps(margin-left margin-right, auto);

    @include respondToSmallMaxSize{
        --screen-side-insets: 1.5rem;  
    }

}
