
@use 'helpers/general' as *;
@use 'helpers/colors';
@use 'sass:color';

.VeggieFoodSection{

    display: grid;
    gap: 3rem;
    position: relative;
    @include setProps(padding-top padding-bottom, 4rem);
    overflow: visible;

    @mixin respondToScrollableWidth {
        @media(max-width: 59.38rem){
            @content;
        }
    }

    @include respondToScrollableWidth{
        gap: 1rem;
        padding-top: 2.5rem;
        padding-bottom: 0.5rem;
    }
    
    > .background-view{
        z-index: -1;
        width: 100vw;
        position: absolute;
        height: 100%;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        background-color: gray(0.97);
    }


    > .info-boxes{

        @include setProps(margin-left margin-right, calc(var(--screen-side-insets) * -1));
        
        display: grid;

        @include setCustomScrollBarStyle();
        @include respondToScrollableWidth{
            overflow-x: scroll;
        }

        > .content-holder{

            --item-width: 22rem;

            gap: 2rem;
            display: inline-grid;
            grid-template-columns: repeat(auto-fill, var(--item-width));
            justify-content: center;
            @include setProps(padding-left padding-right, var(--screen-side-insets));


            @mixin respondToSmallCardsWidth{
                @media (max-width: 77rem){
                    @content;
                }
            }

            @include respondToSmallCardsWidth{
                --item-width: max(min(20rem, 100vw - 5rem), 12rem);
                gap: 1.25rem;
            }
            
            @include respondToScrollableWidth{
                grid-template-columns: unset;
                justify-content: unset;
                grid-auto-flow: column;
                grid-auto-columns: var(--item-width);
                @include setProps(padding-top padding-bottom, 2.2rem);
            }

            > .info-box{
                
                display: grid;
                gap: 1rem;
                align-content: start;

                background-color: white;

                border-radius: 1.2rem;
                overflow: hidden;
                padding: 1.4rem;

                @include respondToSmallCardsWidth{
                    gap: 0.7rem;
                    padding: 1.1rem;

                }

                box-shadow: 0 0 2rem rgba(black, 0);
    
                transition-duration: 0.2s;
                transition-timing-function: ease-out;
                transition-property: transform, box-shadow;

                @media(hover: hover){
                    &:hover{
                        transform: scale(1.05);
                        box-shadow: 0 0 2rem color.adjust(black, $alpha: -0.9);
                    }
                }

                > svg{
                    @include setProps(width height, 2.5rem);
                    @include respondToSmallCardsWidth{
                        @include setProps(width height, 2rem);
                    }
                }
                
                > .title{
                    font-weight: bold;
                    font-size: 1.1rem;
                    @include respondToSmallCardsWidth{
                        font-size: 0.95rem;
                    }
                }

                > .description{
                    font-size: 0.85rem;
                    color: colors.$off-black-subtitle;
                }
            }
        }        
    }
}

