
@use 'helpers/colors';
@use 'helpers/general' as *;
@use 'sass:color';


.AppAndMapSection{
    
    // @include setProps(padding-top padding-bottom, 5rem);
    @include setProps(padding-left padding-right, 2rem);

    background-color: colors.$gray-background;
    border-radius: 1.5rem;
    margin-bottom: 20rem;

    @include setProps(padding-top padding-bottom, 3rem);

    @include respondToMediumMaxSize{
    }

    >.content{

        @include setProps(margin-left margin-right, auto);
        
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 4rem;
        max-width: 56rem;
        align-items: center;

        @include respondToMediumMaxSize{
            gap: 3rem;
            @include respondToSmallMaxSize{
                grid-template-columns: unset;
                gap: 2rem;
            }
        }

        > .left-side{
            
            > .phone-images-holder{

                position: relative;

                height: 30rem;
                width: 24rem;

                @include respondToMediumMaxSize{
                    height: 22rem;
                    width: 17rem;

                    @include respondToSmallMaxSize{
                        width: 17.5rem;
                    }
                }

                > img{
                    filter: drop-shadow(0 0 1.5rem rgba(black, 0.25));
                    display: block;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    &.image-1{
                        left: 0;
                    }
                    &.image-2{
                        right: 0;
                        z-index: 1;
                    }
                }
            }

            @include respondToSmallMaxSize{
                justify-self: center;
            }

        }
    
        > .right-side{

            display: grid;
            gap: 1rem;
            font-size: 1rem;
            align-items: center;

            > .title{
                line-height: 1.3;
                font-weight: bold;
                font-size: 2.1rem;
                @include respondToSmallMaxSize{
                    font-size: 1.8rem;
                }
            }

            > .description{
                color: gray(0.6);
            }

            > .app-store-buttons{
                $items-gap: 1rem;
                $button-height: 2.8125rem;

                margin-left: -$items-gap;
                margin-top: -$items-gap + 0.5rem;
                display: flex;
                flex-wrap: wrap;
                
                img{
                    background-color: transparent;
                    display: block;
                    height: $button-height;
                }

                > *{
                    margin-left: $items-gap;
                    margin-top: $items-gap;
                }
 
            }

            > .web-app-button{
                margin-top: 0.3rem;
                display: block;
                justify-self: start;
                border: 0.17rem solid colors.$off-black-title;
                border-radius: 0.7rem;
                padding: 0.8rem;
                @include setProps(padding-left padding-right, 0.9rem);
                display: grid;
                align-items: center;
                font-weight: 500;
                @include bounceOnHover;
            }
        }
    

    }


}


